@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Global Variables */
:root {
  --background: #1f242d;
  --primary-color: white;
  --secondary-color: #00eeff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: var(--background);
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 10%;
  background: transparent;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  cursor: default;
}

.nav-bar {
  display: flex;
  flex-direction: row;
}

.nav-bar a {
  display: flex;
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  margin-left: 3rem;
  cursor: pointer;
  transition: 0.3s;
}

.nav-bar a:hover {
  color: var(--secondary-color);
  transform: scale(1.2);
}

.nav-bar a.active {
  color: var(--secondary-color);
}
